@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Azeret Mono;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* 1st heading part start here */
.name-content{
position: absolute;
width: 114px;
height: 34px;
left: 150px;
top: 50px;
}
.name-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    } 

    /* form 2 section styles starts here */
    .form-two-conteiner{
        width: 228px;
        /* border: 2px solid red; */
        position:absolute;
        height: 58px;
        right: 166px;
        top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        /* padding: 17px 24px 17px 24px; */
    }
    .form-two-conteiner{
        box-sizing: border-box;
        border: 1px solid rgb(13, 19, 33);
        border-radius: 8px;
        opacity: 0.8;
    }
    .form-two-conteiner{
        height: 24px;
        display: flex;
        flex-direction: column;
        margin-top: 25px;
      
    }
    .form-two-conteiner p{
        color: rgb(13, 19, 33);
        font-size: 18px;
        font-weight: 600;
        line-height: 23px;
        text-align: center;
        /* margin:0 auto; */

    }
    .main-border-conteiner{
        width: 1705px;
        margin: 0 auto;
        /* border: 2px solid red; */
        height: 652px;
        position: absolute;
        background-blend-mode: overlay;
        background-color: rgba(0,0,0,0.2);
        background-size: cover;
        margin-top: 131px;
        background-image: url(./B10A1-Challenge-Begins-main/assets/Hero-bg.png);
    /* }
    .frame-three-border{
        position:absolute;
        border: 2px solid red;
        width: 998px;
        height: 310px;
    } */
    /* .frame-three-border{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 310px;
        align-items: center;
        padding: 0px;
        flex: none;
        order: 1;
       align-self: center;
       flex-grow: 0;
       margin-left: 221px;
       margin-right: 221px;
       margin-top: 298px;
       margin-bottom: 44px;
    } */
    .frame-four-border{
        position: absolute;
        /* border: 2px solid red; */
        width: 998px;
        height: 582px;
        left: 221px;
        right: 221px;
        top: 13px;
        bottom: 44px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0px;
    }
    .banner-content{
        position:absolute;
        width: 998px;
        height: 136px;
        margin-top: 298px;
        margin-bottom: 218px;
        margin-left: 245px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
         padding: 0px;
         flex: none;
    }
    .banner-content{
        color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        text-align: center;

    }
      .frame-four-border{
        background-image: url(./B10A1-Challenge-Begins-main/assets/Group.png);
        background-repeat: no-repeat;
        background-position:center top;
        background-position-x: center;
        background-origin: border-box;
    }  
/* .image-conteinar{
    background-position: top;
    
}
.banner-content p{
    margin-top: 30px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
} */
 .three-border-conteiner{
    position: static;
    width: 208px;
    height: 66px; 
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    background-color:black;
 }
 .three-border-content h2{
    color: rgb(255, 255, 255);
    font-size: 16px;
 }
 .button{
    background-color: black;
    margin: 0px 10px;
    margin-left: 0px;
 }
 /* .second-conteiner{
    position: static;
width: 852px;
height: 115px;
border: 2px solid red; */
 }
 .second-section-conteiner{
    width: 852px;
    height: 115px;
    /* border: 2px solid red; */
 }
 .second-section-conteiner{
    position: absolute;
width: 1140px;
height: 1375px;
left: 148px;
right: 152px;
top: 700px;
border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
 }
 .second-small-conteiner{
    position: absolute;
width: 852px;
/* border: 2px solid red; */
height: 115px;
margin-left: 140px;
margin-top: 80px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
border-radius: 16px;
 }
 .inter-small-conteiner{
    position: static;
    /* border: 2px solid red; */
    margin-top: 225px;
    width: 852px;
    height: 336px;
    border-radius: 16px;
    margin-left: 140px;
    background-image: url(./B10A1-Challenge-Begins-main/assets/Layer_1.png);
    background-repeat: no-repeat;
    background-position:  right;
 }
 .inter-three-conteiner{
    position: static;
    /* border: 2px solid red; */
    margin-top: 0px;
    width: 852px;
    height: 336px;
    border-radius: 16px;
    margin-left: 140px;
    border-radius: 16px;
    background-image: url(./B10A1-Challenge-Begins-main/assets/Group\ 3.png);
    background-repeat: no-repeat;
    background-position: left;
 }
 .inter-four-conteiner{
    position: static;
    /* border: 2px solid red; */
    margin-top: 0px;
    width: 852px;
    height: 336px;
    border-radius: 16px;
    margin-left: 140px;
    flex: none;
    border-radius: 16px;
    background-image: url(./B10A1-Challenge-Begins-main/assets/Group\ 4.png);
    background-repeat: no-repeat;
    background-position: right;
 }
 .second-small-content{
    position: static;
    width: 852px;
    align-items: center;
 }
 .second-small-content h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    text-align: center;
 }
 .second-small-content p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    text-align: center;
    margin: 18px 0px;
 }
.inter-small-content{
    position: static;
    width: 390px;
    align-items: flex-start;
}
.inter-small-content h2{
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
    font-size: 19.3px;
    margin-top: 25px;
    margin-left: 25px;
    
}
.inter-small-content small{
     
    color: rgb(13, 19, 33);
    text-align: left;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 16px 0px;
    margin-left: 25px;
}
/* .click-conteiner{
position: static;
border: 2px solid red;
width: 150px;
height: 48px;
padding: 12px 20px 12px 20px;
margin: 250px ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 0px;
} */
.click-conteiner{
    /* border: 2px solid red; */
    position: static;
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    opacity: 0.7;
    margin-left: 30px;
}
.click-conteiner button{
    position: static;
   width: 140px;
   height: 40px;
    display: flex;
   flex-direction: row;
   justify-content: center;
  align-items: center;
}
.inter-three-content h2{
color: rgba(13, 19, 33, 0.7);
font-size: 19.3px;
text-align: left;
margin-top:25px;
text-align-last: left;
margin-left: 275px;
}
.inter-three-content small{
    color: rgb(13, 19, 33);
    text-align: left;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 16px 0px;
    margin-left: 275px;
    margin-right: 100px;
}
.two-click-conteiner{
    /* border: 2px solid red; */
    position: static;
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    opacity: 0.7;
    margin-left: 300px;
}
.two-click-conteiner button{
    position: static;
   width: 140px;
   height: 40px;
    display: flex;
   flex-direction: row;
   justify-content: center;
  align-items: center;
}
.inter-four-content{
    position: static;
    width: 390px;
    align-items: flex-start;
}
.inter-four-content h2{
    color: rgba(13, 19, 33, 0.7);
    text-align: left;
    font-size: 19.3px;
    margin-top: 25px;
    margin-left: 25px;
    
}
.inter-four-content small{
     
    color: rgb(13, 19, 33);
    text-align: left;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 16px 0px;
    margin-left: 25px;
}
.four-click-conteiner{
    /* border: 2px solid red; */
    position: static;
    width: 150px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
    box-sizing: border-box;
    /* border: 1px solid rgb(13, 19, 33); */
    opacity: 0.7;
    margin-left: 30px;
}
.four-click-conteiner button{
    position: static;
   width: 140px;
   height: 40px;
    display: flex;
   flex-direction: row;
   justify-content: center;
  align-items: center;
}
.fourth-conteiner{
    position: absolute;
    /* border: 2px solid red; */
    width: 1140px;
    height: 777px;
    left: 148px;
    right: 152px;
    top: 2150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.inside-fourth-conteiner{
    position: static;
    border: 2px solid red;
    width: 1140px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    margin-bottom: 0px;
    margin-top: 163px;
}
.fourth-conteiner h3{
    color: rgb(13, 19, 33);
    font-size: 32px;
    text-align: center;
}
.fourth-conteiner small{
    position: static;
    width: 852px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}
